
#hintContainer {
    background: hsl(55,100%,80%);
    width: 50%;
    border: 1px solid;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    margin-left: 0.4em;
    padding: 0.5em;
    font-size: 1.5em;
}


#hintContainer .closeButton{
    margin: 0em 0em 0.5em 0ex;
    cursor: pointer;
    font-weight: bold;
}

#hintContainer p{
    margin : 0px 3em;
    padding : 0px 0px;;
}

#hintContainer h4{
    margin-left: 2em;
}
