.monokai { background-color: #292724 }
.monokai .debug,.monokai .debug a{ color: #a6e22e }
.monokai .soql,.monokai .soql a { color: #66d9ef }
.monokai .callout,.monokai .callout a { color: #ae81ff }
.monokai .system,.monokai .system a { color: #75715e }
.monokai .rest,.monokai .rest a { color: #f8f8f2 }
.monokai .method,.monokai .method a{ color: #e6db74 }

.monokai .err,.monokai .err a{ color: #f92672 }

.emacs { background-color: #ffffcc }
.emacs .debug,.emacs .debug a {color: #0000FF; font-weight: bold }
.emacs .soql,.emacs .soql a { color: #AA22FF; font-style: italic }
.emacs .callout,.emacs .callout a { color: #A0A000 }
.emacs .system,.emacs .system a { color: #008800;}
.emacs .rest,.emacs .rest a {  color: #880000}
.emacs .method,.emacs .method a { color: #BB4444}
.emacs .err,.emacs .err a{ color: #f92672 }

.bw {background-color: #ffffff}
.bw .debug,.bw .debug a {font-weight: bold }
.bw .soql,.bw .soql a { font-style: italic; font-weight: 600 }
.bw .callout,.bw .callout a { font-style: oblique}
.bw .err,.bw .err a{ color: #f92672 }

.wrap{
    white-space: pre-wrap;
    width:95vw;
}

.bold{
    font-weight: 900 !important;
}

#bodyDiv_setup{
    width:100vw;
}

#debugText {
    margin-top: 10px;
    font-family:'Courier New','Courier',mono;
}

#debugText div{
    margin-left: 0.6em;
    margin-top: 0.1em;
}

.systemMethodLog{
    display:none;
}

.toggleHidden{
    padding-right: 1.6em;
    font-size: 1.5em;
}

.disableClick{
    pointer-events: none;
    text-decoration: none;
}

.highlightSearchResult{
    border-style:inset;
}

.currentResult{
    border-style:outset;
}

#controllersContainer{
    margin-bottom: 1.4em;
}

#hintContainer {
    background: hsl(55,100%,80%);
    width: 50%;
    border: 1px solid;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    margin-left: 0.4em;
    padding: 0.5em;
    font-size: 1.5em;
}


#hintContainer .closeButton{
    margin: 0em 0em 0.5em 0ex;
    cursor: pointer;
    font-weight: bold;
}

#hintContainer ul,#hintContainer p{
    margin : 0px 0px;
    padding : 0px 0px;;
}

#hintContainer h4{
    margin-left: 4em;
}

#collapseAllButton{
    display: block;
    margin-top: 2em;
    margin-bottom: 1.4em;
    padding: 4px 8px 4px 8px;
    width: 8em;
}

#selectStyleContainer {
    right: 5em;
    position: absolute;
    width:20em;
    vertical-align: middle;
}

#selectFontContainer {
    right:25em;
    position: absolute;
    width:13em;
    vertical-align: middle;
}

#selectStyleContainer label,#selectFontContainer label{
    font-size: 1.5em;
}

select {
    padding:3px;
    margin: 0;
    border-radius:4px;
    box-shadow: 0 1px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.myButton {
   border-top: 1px solid hsl(80,50%,70%);;
   border-radius:4px;
   background: hsl(80,50%,50%);
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 1.2em;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

.myButton:hover {
   border-top-color: hsl(80,50%,70%);;
   background: hsl(80,45%,45%);
   cursor: pointer;
}

.myButton:active {
   border-top-color:  hsl(80,50%,50%);
   background:  hsl(80,35%,40%);
}

.expandUserDebugBtn{
    width: 1.5em;
    height: 1.5em;
    font-size:0.8em;
    margin-right: 0.3em;
}