.monokai { background-color: #000 }
.monokai .debug,.monokai .debug a{ color: #a6e22e }
.monokai .soql,.monokai .soql a { color: #66d9ef }
.monokai .callout,.monokai .callout a { color: #ae81ff }
.monokai .system,.monokai .system a { color: #75715e }
.monokai .rest,.monokai .rest a { color: #f8f8f2 }
.monokai .method,.monokai .method a{ color: #e6db74 }

.monokai .err, .err a{ color: #f92672 }

.emacs { background-color: #ffffcc }
.emacs .debug,.emacs .debug a {color: #0000FF; font-weight: bold }
.emacs .soql,.emacs .soql a { color: #AA22FF; font-style: italic }
.emacs .callout,.emacs .callout a { color: #A0A000 }
.emacs .system,.emacs .system a { color: #008800;}
.emacs .rest,.emacs .rest a {  color: #880000}
.emacs .method,.emacs .method a { color: #BB4444}
.emacs .err,.emacs .err a{ color: #f92672 }

.bw {background-color: #ffffff}
.bw .debug,.bw .debug a {font-weight: bold }
.bw .soql,.bw .soql a { font-style: italic  }
.bw .callout,.bw .callout a { font-style: oblique}
.bw .err, .err a{ color: #f92672 }

#debugText {
	margin-top: 10px;
	font-size: 1.6em !important;
}

.systemMethodLog{
	display:none;
}

.toggleHidden{
	padding-right: 22px;
	font-size: 1.6em;
}

.disableClick{
    pointer-events: none;
    text-decoration: none;
}

.highlightSearchResult{
	border-style:inset;
}

.currentResult{
	border-style:outset;
}