.codeBlock .hll { background-color: #000 }
.codeBlock .c { color: #75715e } /* Comment */
.c a{color: #75715e}
.codeBlock .k { color: #66d9ef } /* Keyword */
.k a{color: #66d9ef}
.codeBlock .l { color: #ae81ff } /* Literal */
.l a{color: #ae81ff}
.codeBlock .n { color: #f8f8f2 } /* Name */
.n a{color: #f8f8f2;}
.codeBlock .s { color: #e6db74 } /* Literal.String */
.s a{color: #e6db74;}
.codeBlock .na { color: #a6e22e } /* Name.Attribute */
.na a{color: #a6e22e;}
.codeBlock .err { color: #f92672 }
.err a{color: #f92672;}



.codeBlock {
	font-size: 1.6em !important;
}
.detailList{
	z-index: 999;
	width: 100vw;
	height: 100vh;
}

.systemMethodLog{
	display:none;
}

.debug{

}

.toggleHidden{
	padding-right: 22px;
}

.disableClick{
    pointer-events: none;
    text-decoration: none;
}
